<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
          {{> header}}
  </head>
  <body>
      <h1 style="color: red">About Page</h1>
        {{> footer}}
  </body>

</html>
